#container
{
    border: solid black 2px;
    border-radius: 4px;
    width: 300px;
    height: 300px;
    color: #000000;
    background-color: gray;
    text-align: center;
}

.block-link
{
    display: block;
    border: solid black 2px;
    background-color: gray;
    text-align: center;
    border-radius: 4px;
    height: 90px;
    width: 300px;
    max-width: 300px;
    min-width: 200px;
    overflow: scroll;
}